<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="parts/head :: head_fragment(title = 'ユーザ編集')"></head>
    <body>
        <header th:replace="parts/header"></header>
        <p>名前を入力してください。</p>
        <form th:action="@{/user/update}" th:object="${userForm}" method="POST">
            <input type="hidden" name="id" th:value="${user.id}">
            <input type="text" name="name" th:value="${user.name}">
            <input type="submit" value="登録する">
        </form>
    </body>
</html>