<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="parts/head :: head_fragment(title = 'ユーザ検索')"></head>
    <body>
        <header th:replace="parts/header"></header>
        <p>名前を入力してください。</p>
        <form th:action="@{/user/search}" th:object="${userSearchForm}" method="GET">
            <input type="text" th:field="*{word}">
            <input type="submit" value="検索する">
        </form>

    <ul>
        <div th:each="user : ${userSearchList}" th:object="${userSearchList}">
            <span th:text="${user.id}"></span>
            <span th:text="${user.name}"></span>
            <span th:text="${user.createdAt}"></span>
            <span th:text="${user.updatedAt}"></span>
        </div>
    </ul>

    </body>
</html>