<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Template Sample</title>
    </head>
    <body>
        <p>名前を入力してください。</p>
        <form th:action="@{/user/new}" th:object="${userForm}" method="POST">
            <input type="text" th:field="*{name}">
            <input type="submit" value="登録する">
        </form>

    <ul>
        <div th:each="user : ${userList}">
            <span th:text="${user}"></span>
        </div>
    </ul>

    </body>
</html>